@import "bootstrap-sprockets";
@import "bootstrap";

body {}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.glyphicon {
  margin-right: 5px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

#logo {
  font-size: 24px;
  font-weight: 800;
}

a.no-link {
  cursor: default;
}

.jumbotron {
  background-color: inherit;
}

#help-manual {
  padding: 0px;
}

.btn
{
  margin-bottom: 10px;
}

.btn.text-left
{
  text-align: left;
}

.btn.text-left i.glyphicon
{
  margin-right: 25px;
}

.btn-lg {
  margin: 5px;
}

.btn-wide {
  width: 100%;
}

.maprao
{
  min-height: 300px;
  background-image: image-url("maprao.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 11;
}